.delete {
    width: 100px;
    margin: 10px 20px;
}

.info-container {
    margin: 20px;
}

.house {
    background-color: gainsboro;
    width: 80%;
    margin-left: 50px;
}

.info-container > h5 {
    margin: 10px 40px;
}

img {
    height: 200px;
    width: 200px;
}

h5 {
    font-size: 18px;
}